
.boxCss {
  color: black;
  font-size: 36px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid lightgrey;
  width: 60px;
  height: 60px;
  margin: 2.5px;
}

.answer {
  color: white;
  border-color: white;
  background-color: #619978 !important;
}

.have_word {
  color: white;
  border-color: white;
  background-color: #C9B458;
}

.wrong {
  color: white;
  border-color: white;
  background-color: #8d8f91;
}

.card-header {
  text-align: initial;
  padding: 0.4rem 1.25rem;
  color: whitesmoke;
  background-color: rgba(35, 73, 144);
  font-size: 20px;
  border-bottom: 1px solid rgba(26, 54, 126, 0.125);
  font-weight: bold;
}

.card-body {
  flex: 1 1 auto;
  text-align: initial;
  overflow-y: auto;
}

.dataTable {
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  width: 330px;
}

.keyboard{
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  border: 1px solid black;
  margin: 0.1em;
  user-select: none;
  cursor: pointer;
} 

.keyboard:hover{
  background-color: lightgray; 
}

.keyboard-sub{
  display: inline-block;
  height: 2em;
  line-height: 2em;
  border: 1px solid black;
  margin: 0.1em;
  user-select: none;  
  cursor: pointer;    
}

.keyboard-sub:hover{
  background-color: lightgray; 
}

@media (min-width:300px) {
  .card-header{
    font-size: 13px;
  }

  .boxCss{
    width: 40px;
    height: 40px;
    font-size:22px;
  }  

  .dataTable{
    width: 230px;
  }

  .keyboard{
    width: 1.6em;
    height: 1.6em;
    line-height: 1.6em;
  }

  .keyboard-sub{
    height: 1.6em;
    line-height: 1.6em;
  }

  .col_sub{
    flex: 0 0 5% !important;
    max-width: 5% !important;
  }

  .col_body{
    flex: 0 0 90% !important;
    max-width: 90% !important;
  }
}

@media (min-width:700px) {
  .card-header{
    font-size: 22px;
  }
  .boxCss{
    width: 40px;
    height: 40px;
  }  

  .dataTable{
    width: 230px;
  }

  .keyboard{
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
  }

  .keyboard-sub{
    height: 1.5em;
    line-height: 1.5em;
  }

  .col_sub{
    flex: 0 0 20% !important;
    max-width: 20% !important;
  }

  .col_body{
    flex: 0 0 60% !important;
    max-width: 60% !important;
  }
}

@media (min-width:1000px) {
  .boxCss{
    width: 60px;
    height: 60px;
  }  

  .dataTable{
    width: 330px;
  }

  .keyboard{
    width: 2em;
    height: 2em;
    line-height: 2em;
  }

  .keyboard-sub{
    height: 2em;
    line-height: 2em;
  }

  .col_sub{
    flex: 0 0 16% !important;
    max-width: 16% !important;
  }

  .col_body{
    flex: 0 0 68% !important;
    max-width: 68% !important;
  }
}